MIGRATION_TENANT_ID=tenant_id_here
MIGRATION_BRANCH_ID=branch_id_here

MIGRATION_INPUT_DIR=source_data_migration_dir_here
MIGRATION_REPORTS_DIR=report_dir_here
MIGRATION_DRY_RUN=true_or_false_here_for_dry_run